<a href="https://colab.research.google.com/github/danysc/DA-Projects/blob/main/Features_data_set_ST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Features_data_set_ST

The dataset is from:<br>

https://www.kaggle.com/manjeetsingh/retaildataset

**With Statistics**

Features
Contains additional data related to the store, department, and regional activity for the given dates.<br><br>
Store - The store number.<br>
Date - The date.<br>
Temperature - average temperature in the region.<br>
Fuel_Price - cost of fuel in the region.<br>
MarkDown1-5 - Anonymized data related to promotional markdowns.<br> MarkDown data is only available after Nov 2011, and is not available for all stores all the time. Any missing value is marked with an NA.<br>
<br>
CPI - The consumer price index.<br>
Unemployment - The unemployment rate.<br>
IsHoliday - Whether the week is a special holiday week.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

### Read the csv data file from my GitHub:

In [2]:
# Read the csv from my GitHub
data_set = pd.read_csv('https://raw.githubusercontent.com/danysc/kgdata/main/Features_data_set.csv')
# Printing the first 6 rows of the data frame for visualization
data_set[:6]

   Store        Date  Temperature  ...         CPI  Unemployment  IsHoliday
0      1  05/02/2010        42.31  ...  211.096358         8.106      False
1      1  12/02/2010        38.51  ...  211.242170         8.106       True
2      1  19/02/2010        39.93  ...  211.289143         8.106      False
3      1  26/02/2010        46.63  ...  211.319643         8.106      False
4      1  05/03/2010        46.50  ...  211.350143         8.106      False
5      1  12/03/2010        57.79  ...  211.380643         8.106      False

[6 rows x 12 columns]

In [3]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [4]:
# Convert the Date column to date format:
data_set['Date'] = pd.to_datetime(data_set['Date'])
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   datetime64[ns]
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(9), int64(1)
memory usage: 712.0 KB

In [5]:
#Null Check:
# Note the null values
data_set.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [6]:
# Duplicate check:
# No duplicated row
data_set.duplicated().sum()

0

Good. No duplicate

Because there a lot of Nulls, I decide to delete the columns.

In [7]:
# removing null values to avoid errors 
data_set.dropna(inplace = True)
data_set

      Store       Date  Temperature  ...         CPI  Unemployment  IsHoliday
92        1 2011-11-11        59.11  ...  217.998085         7.866      False
93        1 2011-11-18        62.25  ...  218.220509         7.866      False
94        1 2011-11-25        60.14  ...  218.467621         7.866       True
95        1 2011-02-12        48.91  ...  218.714733         7.866      False
96        1 2011-09-12        43.93  ...  218.961846         7.866      False
...     ...        ...          ...  ...         ...           ...        ...
8168     45 2013-01-03        39.72  ...  193.122173         8.625      False
8169     45 2013-08-03        36.13  ...  193.211524         8.625      False
8173     45 2013-05-04        43.94  ...  193.516047         8.335      False
8174     45 2013-12-04        57.39  ...  193.589304         8.335      False
8175     45 2013-04-19        56.27  ...  193.589304         8.335      False

[2069 rows x 12 columns]

## Statistics (Correlation)

**NumPy Correlation Calculation:**

corrcoef() returns the correlation matrix, which is a two-dimensional array with the correlation coefficients

In [8]:
# NumPy Correlation Calculation:
## https://realpython.com/numpy-scipy-pandas-correlation-python/
# r = np.corrcoef(x, y)
r = np.corrcoef(data_set['Fuel_Price'], data_set['CPI'])
r

array([[ 1.        , -0.39446808],
       [-0.39446808,  1.        ]])

In [9]:
# Get the Pearson correlation coefficient:
# x.corr(y)
data_set['Fuel_Price'].corr(data_set['CPI'])

-0.39446808080662943

**Pearson correlation coefficient**

In [10]:
import scipy.stats

In [11]:
scipy.stats.pearsonr(data_set['Temperature'], data_set['CPI'])    # Pearson's r

(0.20359200267683755, 8.506210735289935e-21)

In [12]:
scipy.stats.spearmanr(data_set['Temperature'], data_set['CPI'])   # Spearman's rho

SpearmanrResult(correlation=0.20964197345653346, pvalue=5.56041517730163e-22)

In [13]:

scipy.stats.kendalltau(data_set['Temperature'], data_set['CPI'])  # Kendall's tau

KendalltauResult(correlation=0.1408180972084343, pvalue=8.760892060460995e-22)

In [14]:
# If you want to get the Pearson correlation coefficient and p-value at the same time, then you can unpack the return value:

# r, p = scipy.stats.pearsonr(x, y)
r, p = scipy.stats.pearsonr(data_set['Temperature'], data_set['CPI'])
r,p

(0.20359200267683755, 8.506210735289935e-21)

You can use scipy.stats.linregress() to perform linear regression for two arrays of the same length.

.slope: the slope of the regression line/

.intercept: the intercept of the regression line/

.pvalue: the p-value/

.stderr: the standard error of the estimated gradient/

In [15]:
# result = scipy.stats.linregress(x, y)
result = scipy.stats.linregress(data_set['Temperature'], data_set['CPI'])
result

LinregressResult(slope=0.44020505391636855, intercept=152.46912992683673, rvalue=0.20359200267683755, pvalue=8.506210735310206e-21, stderr=0.04656198906251526)

In [16]:
result.intercept

152.46912992683673

In [17]:
result.rvalue

0.20359200267683755

In [18]:
result.pvalue

8.506210735310206e-21

In [19]:
result.stderr

0.04656198906251526